<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="img/fav.png">
  <meta name="description" content="">
  <meta charset="UTF-8">
  <title>Can I Go Out</title>

  
  
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main_f.css">
  <link rel="stylesheet" href="css/linearicons.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/nice-select.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- start header Area -->
  <header id="header">
    <div class="container main-menu">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li ><a href="form.html">Can i go out</a>
            </li>
            <li><a href="analysis">Dashboard</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <section class="banner-area">
    <div class='container'>
      <div class="artboard">
 <div class="card">

  <div class="card__side card__side--back">
   <div class="card__cover">
    <h4 class="card__heading">
     <span class="card__heading-span">Days Alloted</span>
    </h4>
   </div>
   <div class="card__details">
    <ul>
     <li>Your aadhar card number is <%= data['aadhar'] %></li>
     <li>You can Go Out On</li>
     <li><%= day1 %></li>
     <li><%= day2 %></li>
     <li><%= day3 %></li>
    </ul>
   </div>
  </div>

  <div class="card__side card__side--front">
   <div class="card__theme">
    <div class="card__theme-box">
     <p class="card__title">Hello</p>
     <p class="card__subject"><%= data['name'] %></p>
    </div>
   </div>
  </div>

 </div>
</div>
    </div>
  </section>




  <!-- Start Footer Area -->
  <footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Top Products</h4>
          <ul>
            <li><a href="index.html#users">User App</a></li>
            <li><a href="index.html#authority">App for Authorities</a></li>
            <li><a href="index.html#screens">Featured Screens</a></li>
            <li><a href="https://github.com/SmartPracticeschool/SBSPS-Challenge-2664-Smart-Way-to-Travel-Post-Covid-19">Our Github</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="form.html">Can I Go Out</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Features</h4>
          <ul>
            <li><a href="index.html#feature">3 Days Alloted</a></li>
            <li><a href="index.html#feature">QR Code Verification</a></li>
            <li><a href="index.html#feature">Penalty Charges</a></li>
            <li><a href="index.html#video">View Video</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Meet Us</h4>
          <ul>
            <li><a href="index.html#ninad">Ninad Kanchan</a></li>
            <li><a href="index.html#siddhant">Siddhant Sharma</a></li>
            <li><a href="index.html#sahil">Sahil Singh Rawat</a></li>
            <li><a href="index.html#yukta">Yukta Sharma</a></li>
          </ul>
        </div>
        
      </div>
      <div class="footer-bottom row align-items-center">
        <div class="col-lg-6 col-md-6 social-link">
          <div class="download-button d-flex flex-row justify-content-end">
            <div class="buttons gray flex-row d-flex">
              <i class="fa fa-android" aria-hidden="true"></i>
              <div class="desc">
                <a href="#">
                  <p>
                    <span>Available</span> <br>
                    For Android
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer Area -->
  <script src="js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
   crossorigin="anonymous"></script>
  <script src="js/tilt.jquery.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/hoverIntent.js"></script>
  <script src="js/superfish.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/owl-carousel-thumb.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>

